<!-- <p>categories works!</p> -->



<div class="container py-5">
  <div class="row g-4">
    <div class="col-md-4" *ngFor="let category of allCategories">
      <a [routerLink]="['/sub-categories',category.id]">
      <div class="card">
        <img [src]="category.image" class="card-img-top" height="300" [alt]="category.name" [title]="category.name">
        <div class="card-body">
          <p class="card-text categoryText">{{category.name}}</p>
        </div>
      </div>
    </a>
    </div>
   
  </div>


</div>


<!-- <app-sub-categories/> -->